body{
    margin:0;
    padding:0;
    font-family: lato;
    background-image: linear-gradient(to right top, #003451, #1e253d, #201927, #170e15, #000000);
    color:white;
    font-size: 1.2rem;
    font-weight: 300;
}

*{
    font-weight: 300;
}

nav{
    
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0;
    padding:0;
    margin-top: 3vh;
}

#form-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



  
*::-webkit-scrollbar {
display: none;
}


li{
    list-style-type: none;
}

.container{
    width: 100vw;
    
    background: rgba(0, 0, 255, 0);
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main-movie{
    height: 80vh;
    width: 90vw;
    background-image: url(main1.png);
    border-radius: 20px;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top:3vh;
    margin-bottom:5vh;
}

h1{
    font-weight: 600;
    font-size: 8rem;
    text-shadow: none;
    color: #16364b;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.219), 0 0 10px rgba(0, 153, 255, 0);
    
    display: flex;
    justify-content: left;
    align-items: end;
    margin:0;
    margin-bottom:1vh;
    font-family: fjalla one;
    transition: 0.5s; 
    margin-left:2vw;
    
}

h1:hover{
    color: rgb(31, 63, 83);

}

.n-movie{
    margin:0;
    margin-left:2vw;
    background: #00a2ffa4;
    border-radius: 10px;
    text-shadow: none;
    font-size: 1.7rem;
    height: 5vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;

   
    color:#ffffff;
    transition: 0.2s;
    
}

.n-movie:hover{
    background:#00a2ff8e;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.596), 0 0 10px rgba(0, 153, 255, 0.233);
}



.watch-now{
    width: 20vw;
    height: 9vh;
    background:#00a2ffb2;
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: 10px;
    font-weight: 600;
    text-shadow: none;
    margin:0;
    transition: 0.25s;
    margin-left:2vw;
    margin-top:35vh;
}

.watch-now:hover{
    background:#00a2ffde;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.863), 0 0 10px rgba(0, 153, 255, 0.233);
    width: 22vw;
    height: 11vh;
    margin-top:33vh;
   
}






.movies-r{
    color:rgb(0, 0, 0);
    display: flex;
    flex-direction: column;

    width: 90vw;
    background: rgba(68, 0, 255, 0);
}

.m-r-img{
    color:rgb(72, 255, 0);
    display: flex;
    width: 90vw;
    background: rgba(255, 0, 0, 0);
    justify-content: space-between;
    flex-shrink: 2;
    
}

.img-movies{
  
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;


}


.logo{
    font-size: 7rem;
  
    font-family: museomoderno;
    font-weight: 900;
    text-shadow: 0 0 15px rgba(74, 183, 255, 0.582), 0 0 10px rgba(0, 153, 255, 0.233);
    color: #00a2ff;
    transition: 0.5s;
    margin-left:2vw;
}

.logo:hover{
    text-shadow: 0 0 15px rgb(0, 153, 255), 0 0 10px rgb(0, 110, 255);
}






.movies{
    display: flex;
    flex-direction: column;
    width: 90vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}



.popular{
    width: 90vw;
    background: rgba(255, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    margin:0;
    margin-bottom:8vh;
    
}





.pop-movies{
    height: 45vh;
    width: 15vw;
    background: rgba(0, 0, 0, 0);
    color:rgba(0, 0, 0, 0.815);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    
}

.imgp{
    height: 45vh;
    width: 15vw;
    border-radius: 10px;
    transition: 0.5s;
    

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popm{
    position: absolute;
    height: 45vh;
    width: 15vw;
    
    color:rgba(255, 255, 255, 0);
    opacity: none;
    transition: 0.5s;
    height: 45.5%;
    border-radius: 10px;
    padding-top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.pop-movies:hover .popm {
    background: rgba(0, 0, 0, 0.774);
    color:white;
    opacity: 1;

}



.pop-movies img:hover{
    opacity: none;
}

.mri{
    width: 20vw;
    height: 48vh;
    border-radius: 10px;
    transition: 0.5s;
}

.mri:hover{
    width: 21vw;
    height: 50vh;
}

h2{
    color:white;
    margin:0;
    font-size: 4rem;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.404), 0 0 10px rgba(255, 255, 255, 0.24);
    transition: 0.25s;
    margin-bottom:1vh;
    margin-top:1vh;
}



h2:hover{
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.753), 0 0 10px rgba(255, 255, 255, 0.452);
}




.footer{
width: 100vw;

margin-top:5vh;
font-size: 0.7rem;
background: rgba(0, 0, 0, 0.671);
color:#00a2ffcb;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

li{
display: flex;
justify-content: center;
align-items: center;
}

#search{
border: none;
background: none;
border-bottom:1px solid rgba(255, 255, 255, 0.788);
color:white;
margin-right:1vw;
width: 10vw;
height: 4vh;
font-size: 1.2rem;

}

#search:focus{
color:rgba(255, 255, 255, 0.795);
}

.mov4{
height: 70vh;
}

.info{
list-style-type:none;

width:40vw;

display: flex;
justify-content: space-around;
margin-bottom:3vh;
margin-top:3vh;
}

#language{
width: 8vw;


margin-bottom:1vh;

font-size: 1.7rem;
text-align: center;

border:none;
background: rgba(0, 0, 0, 0);
color:white;
}

.lang-option{
background-color: black;
color:white;


}

.footer-phone-number{
color:white;
font-size: 1rem;
margin:0;
}

a{
text-decoration: none;
color:#00a2ff;
}

li a{
color:white;
}


.profile{
    background: #00a2ffcb;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:10vw;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.404), 0 0 10px rgba(0, 153, 255, 0.24);
    position: relative;
    margin-left:5vw;
    transition: 0.5s;
}

.profile:hover{
    box-shadow: 0 0 15px rgb(255, 255, 255), 0 0 10px rgba(255, 255, 255, 0);
    width: 3.5vw;
    height: 6.5vh;
    margin-left:4.5vw;
}



.profile-dropdown{
    
    position: absolute;
    margin-top:21.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    transition: 0.2s;
    opacity: 0;
}

.profile:hover .profile-dropdown{
    
    opacity: 1;
    
}

.p-d li{
    display: flex;
    width: 9vw;
    margin: 0;
    padding:0;
    font-size: 1.2rem;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.308) ;
    font-weight: 300;
    transition: 0.5s;
}

.p-d li a{
    color:rgba(255, 255, 255, 0.863);
    transition: 0.5s;
}

.p-d li:hover{
    border-bottom: 0.5px solid rgb(255, 255, 255) ;
}

.p-d li a:hover{
    color:#ffffff;
    text-shadow: 0 0 15px rgb(255, 255, 255), 0 0 10px rgb(0, 153, 255);
}

.p-d{
    background: rgba(0, 0, 0, 0.568);
    border: 1px rgba(255, 255, 255,0.274) solid;
    margin: 0;
    padding:0;
    line-height: 3.7vh;
    width: 10vw;
    height: 16vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.p-d li:last-child{
    border:none;
}

#navi{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60vw;
    
    font-size: 1.2rem;
}

#navi li a{
    color:white;
    display: flex;
    padding-left:1vw;
    padding-right:1vw;
    justify-content: center;
    align-items: center;
    width: 2vw;
    display: block;
    text-align: center;
    font-size: 1.5rem;
}



#navi li{
    width: 4.2vw;
    text-align: center;
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1%;
}

#navi li a:hover{
    
    animation: border-bottom ease-out;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes border-bottom{
    from{
        border-bottom:none;
    }
    1%{
        border-bottom:1px solid rgb(255, 255, 255) ;
        width: 1%;
    }
    to{
        border-bottom:1px solid rgb(0, 174, 255) ;
        width: 100%;
    }
}
#navi li:last-child{
    padding-left:1vw
}

.info a{
    color:#00a2ff;
}


@media only screen and (max-width: 1440px) {
    .profile{
        width: 5vw;
        height: 8vh;
    }

    .profile:hover{
        width: 6vw;
        height: 9vh;
    }

    .n-movie{
        width: 13vw;
    }

    .watch-now{
        width: 25vw;
    }

    .pop-movies{
        width: 90vw;
    }
    
    .imgp{
        width: 16vw;
        height: 40vh;
    }

    .popm{
        width: 16vw;
        height: 40vh;
    }

    .mri{
        height: 40vh;
    }

    .mri:hover{
        height: 43vh;
        width: 22vw;
    }

    .mov4{
        height: 55vh;
    }

}

@media only screen and (max-width: 1024px) {
    .img-movies:last-child{
        display: none;
    }

    .mri{
        width: 27vw;
    }

    .mri:hover{
        width: 28vw;
        height: 24;
    }

    .pop-movies:last-child{
        display: none;
    }

    .imgp{
        width: 22vw;
    }

    .popm{
        width: 22vw;
    }

    .n-movie{
        width: 22vw;
    }

    .watch-now{
        width: 35vw;
    }

    .watch-now:hover{
        width: 40vw;
    }

    

    .profile{
        width: 9vw;
    }
        
    }



    @media only screen and (max-width: 768px) {
        nav{
            flex-direction: column;
            margin-bottom:20vh;
        }

        #navi{
            width: 80vw;
        }

       .profile{
        display: none;
       }

       .watch-now{
        width: 45vw;
       }

       .watch-now:hover{
        width: 46vw;
       }

       .pop-movies:first-child{
        display: none;
        }

        

        .imgp{
            width: 28vw;
        }

        .popm{
            width: 28vw;
        }

        .img-movies:first-child{
        display: none;
        }

        .mri{
            width: 40vw;
            height: 45vh;
        }

        .m-r-img{
            width: 90vw;

            display: flex;
            justify-content: space-around;
            margin:0;
        }

        .mov4{
            height: 70vh;
        }

    }

        @media only screen and (max-width: 425px) {
            h1{
                font-size: 4.5rem;
            }

            .n-movie{
                height: 5vh;
                width: 45vw;
            }

            .watch-now{
                width: 80vw;
            }

            .mov4{
                height: 75vh;
            }

            .info{
                width: 70vw;
            }

            #navi{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 0;
                padding: 0;
            }

            #navi li{
                margin: 0;
                padding: 0;
                width: 50vw;
                text-align: center;
            }

            #navi li a{
                margin: 0;
                padding: 0;
                width: 50vw;
            }

            .form-1{
                width: 50vw;
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .form-1 input{
                width: 50vw;
                margin: 0;
                padding: 0;
            }

            .main-movie{
                margin-top: 10vh;
            }
        }

        @media only screen and (max-width: 375px) {
            h1{
                font-size: 3.9rem;
            }}

            @media only screen and (max-width: 320px) {
                h1{
                    font-size: 3.35rem;
                }}
       
   


